<%- include("template/cabecera" , {tituloWeb: 'Crear publicacion'})  %>  

    <body>
        <div class="container-crear">
            <h1>Crear</h1>
            <form action="" class="form-good">
                <input type="text" name=""
                placeholder="Publica un titulo"
                >
                <input type="text"
                placeholder="Publica una descripcion"
                >
                <button type="submit">Publicar</button>
            </form>
        </div>

<%- include("template/footer") %>  