<%- include("template/cabecera" , {tituloWeb: 'Crear publicacion'})  %>  

    <body>
        <div class="container-crear">
            <h1>Crear</h1>
            <form action="/" class="form-good"
            method="POST"> 
                <input type="text" name="titulo"
                placeholder="Publica un titulo">
                <input type="text"
                placeholder="Publica una descripcion"
                name="descripcion">
                <button type="submit">Submit</button>
            </form>
        </div>

<%- include("template/footer") %>  
<!-- *Method = POST to use router.post -->