<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                </tr>
                </thead>
                <tbody>
                    <% if (arrayPublicaciones.length > 0) { %>
                        <% arrayPublicaciones.forEach(publicacion => { %>
                           <tr>
                               <td><%= publicacion.titulo %></td>
                               <td><%= publicacion.descripcion %></td>
                           </tr>
                        <% }) %>
                       <% } %>
                </tbody>
            </table>
                <button type="submit"><a href="/publicacion/crear">Publica algo</a></button>
        </div>
        <%- include("template/footer") %>  