/* General config */
body{
    margin: 0;
    font-family: monospace;
    color: rgb(223, 223, 223);
    background-color: rgb(3, 3, 3);
} 
/* Navbar */
.navbar{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    font-size: 20px;
}

.navbar .username-pic{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 15px;
    height: 25px;
    padding: 0.5rem 1rem;
    margin: 8px 15px 0;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(68, 68, 68);
    border: 0.2px solid transparent;
    transition: all 0.5s ;
}
.navbar .username-pic:hover{
    border: 0.2px solid rgb(68, 68, 68);
}
.navbar .username-pic img{ 
    width: 25px;
    display: inline;
}
.navbar .username-pic i{
    padding-left: 15px;
    vertical-align: super;
}
.username-pic img{ 
    width: 25px;
    display: inline;
}
.navbar .username-pic p{
    display: none;
}
.navbar .username-pic :nth-child(2){
    display: inline;
    vertical-align: top;
    text-decoration: none;
    color: rgb(223, 223, 223);
}
.navbar .tituls h2{
    font-size: 18px;
    padding: 0 0 25px 20px;
}
.show-on-touch{
    display: none;
    padding: 1rem;
    position: absolute;
    right: 20px;
    top: 60px;
    border-radius: 15px;
    background-color: #111;
    transition: 0.5s all;
}
.show-on-touch input{
    background-color: #111;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: gray 2px solid;
}
 /*  */
 /*Post*/
 /*  */
.create-post{
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    width: 600px;
    background-color: #1A1B1A;
    border: 2px solid gray;
    border-radius: 15px;
    transition: 0.5s all;
}
.create-post input{
    margin: 0.2rem 0 0.2rem 0;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(3, 3, 3);
    color: snow;
}
.create-post :nth-child(4){
    height: 50px;
}
.create-post img{
    width:30px;
    border-radius: 2px;
}
.form-good{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
}
.submit{
    cursor: pointer;
    width: 35%;
    height: 30px;
    border: none;
    background-color: gray;
    border-radius: 5px;
}
.submit a {
    color: snow;
    text-decoration: none;
}
.container{
    margin-top: 25px;
    width: 100%;
    display: grid;
    justify-content: center;

}
.create-post-publicacion{
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    width: 630px;
    max-width: 630px;
    background-color: #1A1B1A;
    border: 2px solid gray;
    border-radius: 5px;
    transition: 0.5s all;
}
.sort-by button{
    background-color: #1A1B1A;
    color: gray;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid gray;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
}
.sort-by button:hover{
    background-color: gray;
    color: #1A1B1A;
    border: 2px solid #1A1B1A;
}
.sort-by{
    display: flex;
    justify-content: space-around;
}
.sort-by i{
    font-size: 20px;
}
.form-good-publicacion{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.form-good-publicacion input{
    outline: none;
    padding: 0.2rem;
    width: 70%;
    border: 2px solid gray;
    background-color: #303030;
    border-radius: 15px;
}
.form-good-publicacion button{
    width: 100px;
}
.create-post-publicacion img{
    width: 30px;
}
.post{
    text-align: left;
    background: #1A1B1A;
    width: 600px;
    max-width: 600px;
    min-height: 100px;
    padding: 1rem 2rem;
    border: 2px solid gray;
    border-radius: 16px;
    transition: 0.5s all;

}
.post button{
    background-color: #1A1B1A;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid gray;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.5s all;
}
.post button a{
    text-decoration: none;
    color: gray;
}
.post button:hover{
    background-color: gray;
    color: #1A1B1A;
    border: 2px solid #1A1B1A;
}
.post button:hover a{
    color: #1A1B1A;
}
.descr{
    max-width: 500px;
}
.space{
    height: 20px;
}

/*  */
/* Details */
/*  */
.container-details{
    margin-top: 1%;
    display: grid;
    justify-content: center;
}
.container-details button{
    background-color: #1A1B1A;
    color: gray;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid gray;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3px;
    transition: 0.5s all;
}
.container-details button:hover{
    background-color: gray;
    color: #1A1B1A;
    border: 2px solid #1A1B1A;
}
.container-details button a{
    color: gray;
    text-decoration: none;
}
.container-details button:hover a{
    color: #1A1B1A;
}
.btnEdit, #btnDelete{
    width: 15%;
}
/* Mobile */
@media screen and (max-width: 680px) {
    .post {
        width: 300px;
        min-height: 100px;
    }
    .create-post-publicacion{
        width: 330px;
        min-height: 20px;
    }
    .create-post {
        width: 300px;
        min-height: 100px;
    }
}
@media screen and (max-width: 393px){

    .post {
        width: 200px;
        min-height: 100px;
    }
    .create-post {
        width: 200px;
        min-height: 100px;
    }
    .create-post-publicacion{
        width: 230px;
        min-height: 30px;
    }
}