/* Root */
:root{
    --body-color: #040f16;
    --main-bg-color: #0d1414;
    --white-color: snow;
    --secondary-black-color: rgb(0, 12, 15);
    --gray-border: #040f16;
    --button-background: #0b4f6c;
}
/* General config */
body{
    margin: 0;
    font-family: monospace;
    color: var(--white-color);
    background-color: var(--body-color);
} 
/* Navbar */
.navbar{
    background-color: var(--secondary-black-color);
    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    font-size: 20px;
}

.navbar .username-pic{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 15px;
    height: 25px;
    padding: 0.5rem 1rem;
    margin: 8px 15px 0;
    text-decoration: none;
    border-radius: 5px;
    color: gray;
    border: 1px solid transparent;
    transition: all 0.5s ;
}
.navbar .username-pic:hover{
    border: 1px solid var(--button-background);
}C:\Users\Ludmi\OneDrive\Escritorio\Proyectos Github\Node.js\views\create.ejs
.navbar .username-pic img{ 
    width: 25px;
    display: inline;
}
.navbar .username-pic i{
    padding-left: 15px;
    vertical-align: super;
}
.username-pic img{ 
    width: 25px;
    display: inline;
}
.navbar .username-pic p{
    display: none;
}
.navbar .username-pic :nth-child(2){
    display: inline;
    vertical-align: top;
    text-decoration: none;
    color: var(--white-color);
}
.navbar .tituls h2{
    font-size: 18px;
    padding: 0 0 25px 20px;
}
.show-on-touch{
    display: none;
    padding: 1rem;
    position: absolute;
    right: 20px;
    top: 60px;
    border-radius: 15px;
    background-color: var(--secondary-black-color);
    transition: 0.5s all;
}
.show-on-touch input{
    background-color: var(--secondary-black-color);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: gray 2px solid;
}
 /*  */
 /*Post*/
 /*  */
 .create-wrap{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
 }
.create-post{
    margin: 5rem 0 1rem 0;
    padding: 1rem;
    width: 600px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--button-background);
    border-radius: 15px;
    transition: 0.5s all;
}
.create-post input{
    margin: 0.2rem 0 0.2rem 0;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--body-color);
    color: snow;
}
.create-post :nth-child(4){
    height: 50px;
}
.create-post img{
    width:30px;
    border-radius: 2px;
}
.form-good{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
}
.submit{
    cursor: pointer;
    width: 25%;
    height: 30px;
    color: var(--white-color);
    border: none;
    background-color: var(--button-background);
    border-radius: 5px;
}
.submit a {
    color: var(--white-color);
    text-decoration: none;
}
.container{
    margin-top: 25px;
    width: 100%;
    display: grid;
    justify-content: center;

}
.create-post-publicacion{
    margin: 5rem 0 1rem 0;
    padding: 1rem;
    width: 630px;
    max-width: 630px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--button-background);
    border-radius: 5px;
    transition: 0.5s all;
}
.sort-by button{
    background-color:var(--button-background);
    color: var(--gray-border);
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--gray-border);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
}
.sort-by button:hover{
    background-color: var(--gray-border);
    color: var(--button-background);
    border: 2px solid var(--button-background);
}
.sort-by{
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    border: 2px solid var(--button-background);
    padding: 1rem;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
}
.sort-by i{
    font-size: 20px;
}
.form-good-publicacion{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.form-good-publicacion input{
    outline: none;
    padding: 0.2rem;
    width: 70%;
    border: 2px solid var(--main-bg-color);
    background-color: #303030;
    border-radius: 15px;
}
.form-good-publicacion button{
    background-color: var(--button-background);
    color: var(--white-color);
    width: 100px;
}
.create-post-publicacion img{
    width: 30px;
}
.post{
    text-align: left;
    background: var(--main-bg-color);
    width: 600px;
    max-width: 600px;
    min-height: 100px;
    padding: 1rem 2rem;
    border: 2px solid var(--button-background);
    border-radius: 16px;
    transition: 0.5s all;

}
.orderInRoom{
    display: flex;
    justify-content: flex-end;
}
.post button{
    background-color: var(--button-background);
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--gray-border);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.5s all;
    color: var(--gray-border);
}
.post button:hover{
    color: var(--button-background);
    background-color: var(--gray-border);
    border: 2px solid var(--button-background);
}
.descr{
    max-width: 500px;
}
.space{
    height: 20px;
}

/*  */
/* Details */
/*  */
.container-details{
    margin-top: 1%;
    display: grid;
    justify-content: center;
}
.container-details button{
    background-color:var(--button-background);
    color: var(--gray-border);
    cursor: pointer;
    border-radius:5px;
    font-weight: 700;
    border: 2px solid var(--gray-border);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3px;
    transition: 0.5s all;
}
.container-details button:hover{
    background-color: var(--main-bg-color);
    color: var(--button-background);
    border: 2px solid var(--button-background);
}
.container-details button a{
    color: var(--gray-border);
    text-decoration: none;
}
.container-details button:hover a{
    color: var(--main-bg-color);
}
.btnEdit, #btnDelete{
    width: 15%;
}
/* Mobile */
@media screen and (max-width: 680px) {
    .post {
        width: 300px;
        min-height: 100px;
    }
    .create-post-publicacion{
        width: 330px;
        min-height: 20px;
    }
    .create-post {
        width: 300px;
        min-height: 100px;
    }
    .btnEdit, #btnDelete{
        width: 50%;
    }
}
@media screen and (max-width: 393px){
    .post {
        width: 200px;
        min-height: 100px;
    }
    .create-post {
        width: 200px;
        min-height: 100px;
    }
    .create-post-publicacion{
        width: 230px;
        min-height: 30px;
    }
}