/* General config */
body{
    margin: 0;
    font-family: monospace;
    color: rgb(223, 223, 223);
    background-color: rgb(3, 3, 3);
} 
/* Navbar */
.navbar{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    font-size: 20px;
}
.navbar .username-pic{
    cursor: pointer;
    font-size: 15px;
    height: 25px;
    padding: 0.5rem 1rem;
    margin: 8px 15px 0;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(68, 68, 68);
    border: 0.2px solid transparent;
    transition: all 0.5s ;
}
.navbar .username-pic:hover{
    border: 0.2px solid rgb(68, 68, 68);
}
.navbar .username-pic :nth-child(3){
    vertical-align: super;
    padding-left: 40px;
}
.navbar .username-pic img{ 
    width: 25px;
    display: inline;
}
.username-pic img{ 
    width: 25px;
    display: inline;
}
.navbar .username-pic p{
    display: inline;
    vertical-align: top;
    text-decoration: none;
    color: rgb(223, 223, 223);
}
.navbar .tituls h2{
    font-size: 18px;
    padding: 0 0 25px 20px;
}
.show-on-touch{
    display: none;
    padding: 1rem;
    position: absolute;
    right: 20px;
    top: 60px;
    border-radius: 15px;
    background-color: #111;
    transition: 0.5s all;
}
.show-on-touch input{
    background-color: #111;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: gray 2px solid;
}
 /*  */
 /*Post*/
 /*  */
.create-post{
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    width: 600px;
    background-color: #1A1B1A;
    border: 2px solid gray;
    border-radius: 15px;
}
.create-post input{
    margin: 0.2rem 0 0.2rem 0;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(3, 3, 3);
    color: snow;
}
.create-post :nth-child(4){
    height: 50px;
}
.create-post img{
    width:30px;
    border-radius: 2px;
}
.form-good{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
}
.submit{
    cursor: pointer;
    width: 35%;
    height: 30px;
    border: none;
    background-color: gray;
    border-radius: 5px;
}
.submit a {
    color: snow;
    text-decoration: none;
}
.container{
    margin-top: 25px;
    width: 100%;
    display: grid;
    justify-content: center;

}
.post{
    text-align: left;
    background: #1A1B1A;
    width: 600px;
    min-height: 100px;
    padding: 1rem 2rem;
    border: 2px solid gray;
    border-radius: 16px;
}
.descr{
    max-width: 500px;
}
.space{
    height: 20px;
}

/*  */
/* Details */
/*  */
.btnEdit, #btnDelete{
    width: 15%;
}
/* Mobile */
@media screen and (max-width:305px) {
    .navbar .username-pic :nth-child(3){
        padding-left: 0;
    }
    .navbar .username-pic p{
        display: none;
    }
}