<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deddit</title>
</head>
<nav class="navbar">
 <div class="tituls">
    <h2>Node.js</h2>
 </div>
    <div class="username-pic">
       <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt=""> 
       <p>UserName</p> 
       <i class="fa-solid fa-chevron-down"></i>
       
    </div>
        
</nav>