<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <title>Deddit</title>
</head>
<nav class="navbar">
 <div class="tituls">
    <h2>Node.js</h2>
 </div>
    <div class="username-pic" onclick="showOnClick()">
       <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt=""> 
       <% arrayPublicaciones.forEach(publicacion => { %> 
         <p><strong>
            <% if (Object.values(arrayPublicaciones).pop().username === "") { %>
             Anon
            <% } %>
            <% if (Object.values(arrayPublicaciones).pop().username != "") { %>
                <%= Object.values(arrayPublicaciones).pop().username %>
            <% } %>
            <% }) %>
       <i class="fa-solid fa-chevron-down"></i>
    </div>

        
</nav>

<script>
   const show = document.querySelector('.show-on-touch')

   function showOnClick() {
      if (show.style.display === "none") {
         show.style.display = "block";
      } else {
         show.style.display = "none";
       }
   }
</script>